{% extends 'base.html' %}
{% load static %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container">
    <section id="about">
        <h1 class="sub-title">About Me</h1>
        <div class="content">
            <p>
                Highly skilled web developer with 3 years of experience in creating responsive and interactive websites. From the state of Lagos, Nigeria.
                My expertise lies in translating designs into fully functional websites and pulling data while utilizing my development skills to enhance and customize their features.
                My goal is to craft visually appealing user-friendly websites that provide a seamless browsing experience.
            </p>

            <div class="row">
                <div class="col">
                    <h3>NAME<div class="underline"><span></span></div></h3>
                    <p>AYOMIDE <br>EMMANUEL</p>
                    <h3>Certificate<div class="underline"><span></span></div></h3>
                    <p>Codecademy backend course, Solocode, Priority Hub.</p>
                </div>
                <div class="col">
                    <h3>EDUCATION<div class="underline"><span></span></div></h3>
                    <h5>KWARA STATE UNIVERSITY</h5>
                    <p>BSc in Computer Science, 2019 - 2023</p>
                    <h3>EMPLOYMENT<div class="underline"><span></span></div></h3>
                    <p>Open</p>
                </div>
            </div>
        </div>
    </section>

    <section id="skills">
      <h1 class="sub-title">My Skills</h1>
      <div class="skills-list">
          <div class="skill">
              <h2><i class="fa-brands fa-html5"></i> HTML5</h2>
          </div>
          <div class="skill">
              <h2><i class="fa-brands fa-css3-alt"></i> CSS</h2>
          </div>
          <div class="skill">
              <h2><i class="fa-brands fa-js"></i> JavaScript</h2>
          </div>
          <div class="skill">
              <h2><i class="fa-brands fa-python"></i> Python</h2>
          </div>
          <div class="skill">
              <h2><i class="fa-solid fa-code"></i> Git</h2>
          </div>
          <div class="skill">
              <h2><i class="fa-solid fa-database"></i> SQL</h2>
          </div>
          <div class="skill">
              <h2><i class="fa-brands fa-react"></i> React</h2>
          </div>
          <div class="skill">
              <h2><i class="fa-brands fa-python"></i> Django</h2>
          </div>
          <div class="skill">
              <h2><i class="fa-brands fa-python"></i> Flask</h2>
          </div>
      </div>
  </section>
</div>
<script src="{% static 'script.js' %}"></script>
{% endblock %}
